/**** IGUAL PARA TODOS ****/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*   Fuente de letra   */
@font-face {
	font-family: "Titulo";
	src: url(Supercell-magic-webfont.ttf);
}

@font-face {
	font-family: "Contenido_Pagina";
	src: url(MarshellRegular.woff);
	font-weight: bold;
}


/*   Body   */
body{
	font-family: Contenido_Pagina;
    background: #E0E4E5;
	overflow-x: hidden;
}


/*   Header   */

nav {   
    display: flex;
    flex-direction: row;
    background-color: #3A61C4;  
    color: white;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.2s;
    align-items: right; 
    justify-content: space-between; 
    float: right;
    font-size: 20px;
}

nav a {
    flex-direction: row;
    color: white;
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 30px; 
    transition: transform 0.5s ease, color 0.5s ease;
    margin: 0 90px;
    font-weight: bold;
}
nav a:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
    transform: scale(1.1); 
}       

.guia{
    background-color: #a0a0a0;
    height: 155px;
    width: 1920px;
}

.barra{
    height: 150px;
    background-color: #3A61C4;
    align-items: center;
    align-content: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 14px;
    left: 10px;
    border-radius: 15px;
    width: 135px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  
}

p.header{
    font-family: Titulo;
}



/**** CSS DE LA PAGINA ****/




nav {   
    display: flex;
    flex-direction: row;
    background-color: #3A61C4;  
    color: white;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.2s;
    align-items: right; 
    justify-content: space-between; 
    float: right;
    font-size: 20px;
}

nav a {
    flex-direction: row;
    color: white;
    padding: 14px 110px;
    text-decoration: none;
    border-radius: 30px; 
    transition: transform 0.5s ease, color 0.5s ease;
    margin: 0 50px; 
    font-weight: bold;
}
nav a:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
    transform: scale(1.1); 
}       

.guia{
    background-color: #a0a0a0;
    height: 170px;
    width: 1920px;
}

.barra{
    height: 150px;
    background-color: #3A61C4;
    align-items: center;
    align-content: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 14px;
    left: 75px;
    border-radius: 15px;
    width: 135px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  
}

body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #3a61c488; 
    margin: 0;
    padding: 0;
  }
  
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 

  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #3a61c471; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #3a61c471; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #3a61c4; 
    border-color: #3a61c4; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #0400ff; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 30px;  
    text-align: left; 
    padding-bottom: 20px; 
    color: #3a61c4;
  }
  
  h2{
    margin: 0;
    color: #000000;
    font-style: bold;
    background-color: #3A61C4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);  
    margin-bottom: 30px;
    padding: 5px;
 }
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;  
    width: 70%; 
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #3a61c4;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #3a61c4;
  }
  

  .contenedor {
    display: grid;
    grid-template-columns: 1fr  1fr; 
    gap: 60px; 
    width: 80%;
    margin: 40px auto;
    padding: 20px;
  }

  .informacion_adicional {
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 75px;
    height: 85%;
  }

  .informacion_adicional h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000000;
  }
  
  /* Listas en la información adicional */
  .informacion_adicional ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #555;
  }

  .informacion_adicional p {
  justify-content: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
 }
 
 li {
    background-color: #eee;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    margin: 10px;
 } 


  /* Mejor visualización en pantallas más pequeñas */
  @media (max-width: 768px) {
    .contenedor {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
  }
