/**** IGUAL PARA TODOS ****/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*   Fuente de letra   */
@font-face {
	font-family: "Titulo";
	src: url(../../Supercell-magic-webfont.ttf);
}

@font-face {
	font-family: "Contenido_Pagina";
	src: url(../../MarshellRegular.woff);
	font-weight: bold;
}


/*   Body   */
body{
	text-align: justify;
	font-family: Contenido_Pagina;
    	background: #E0E4E5;
	overflow-x: hidden;

}


/*   Header   */

nav {   
    display: flex;
    flex-direction: row;
    background-color: #3A61C4;  
    color: white;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.2s;
    align-items: right; 
    justify-content: space-between; 
    float: right;
    font-size: 20px;
}

nav a {
    flex-direction: row;
    color: white;
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 30px; 
    transition: transform 0.5s ease, color 0.5s ease;
    margin: 0 90px;
    font-weight: bold;
}
nav a:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
    transform: scale(1.1); 
}       

.guia{
    background-color: #a0a0a0;
    height: 155px;
    width: 1920px;
	margin-bottom: 30px;
}

.barra{
    height: 150px;
    background-color: #3A61C4;
    align-items: center;
    align-content: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 14px;
    left: 10px;
    border-radius: 15px;
    width: 135px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  
}

p.header{
    font-family: Titulo;
}



/**** CSS DE LA PAGINA ****/
#lista{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .news-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .news-item img {
    width: 100%;
    height: auto;
  }
  
  .news-item h2 {
    margin: 0.5rem;

  }
  
  .news-item p {
    margin: 0.5rem;
    color: #555;
  }
  
  .news-item:hover {
    transform: scale(1.02);
  }

  #news-detail {
    display: none;
  }
  
  #detail-content {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

#news-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.news-item {
    margin: 10px;
    text-align: center; 
    max-width: 300px;
}

.noticia {
    text-align: center; 
    margin: 20px; 
}

fieldset {
    border: 2px solid #007BFF; 
     
    padding: 20px; 
    margin: 20px auto; 
    max-width: 600px; 
}

legend {
    font-size: 1.5em; 
    font-weight: bold; 
    color: #007BFF; 
}

.imagen-noticia {
    max-width: 100%; 
    height: auto;  
    margin: 20px 0; 
}

.boton-volver {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #007BFF;
    color: white;
    text-decoration: none; 
    border-radius: 5px; 
    margin-top: 20px; 
}

footer {
  background-color: #333;
  color: white;
  text-align:center ;
  padding: 20px 0;
  position: relative;
  margin-top: 20px;
}

.app-name {
  font-size: 24px;
  margin-bottom: 10px;
}
.social-buttons {
  margin: 10px 0;
}
.social-buttons a {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px; 
}
.twitter {
  background-color: #1DA1F2; 
}
.instagram {
  background-color: #C13584; 
}
.whatsapp {
  background-color: #25D366;
}
.telegram {
  background-color: #0088CC; 
}

.social-buttons a:hover {
  opacity: 0.8; /* Esto queda guay  lo pongo en mas botones*/
  transform: scale(1.1); 
  transition: transform 0.4s;
}
