body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #3a61c488; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

nav {   
    display: flex;
    flex-direction: row;
    background-color: #3A61C4;  
    color: white;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.2s;
    align-items: right; 
    justify-content: space-between; 
    float: right;
    font-size: 20px;
}

nav a {
    flex-direction: row;
    color: white;
    padding: 14px 110px;
    text-decoration: none;
    border-radius: 30px; 
    transition: transform 0.5s ease, color 0.5s ease;
    margin: 0 50px; 
    font-weight: bold;
}
nav a:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);  
    transform: scale(1.1); 
}       

.guia{
    background-color: #a0a0a0;
    height: 170px;
    width: 1920px;
}

.barra{
    height: 150px;
    background-color: #3A61C4;
    align-items: center;
    align-content: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 14px;
    left: 75px;
    border-radius: 15px;
    width: 135px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  
}


.toggle-cont {
    background-color: #fff;
    margin-top: 2vh;
    padding: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    padding: 50px 40px 40px 40px;
    border-radius: 25px;
 }

 
 .toggle-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 20px;
    
    
 }

 .toggle-item:hover {
    background-color: #3a61c444;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    transform: scale(1.023); 
    transition: transform 0.4s;
    font-weight: bold;
    
 }

 .toggle {
    display: none;
 }

 .info {
    display: none;
    padding: 10px;
    background-color: #3a61c444;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-weight: normal;
 }

 .info p{
font-size: 18px;
text-justify: auto;
 }


 .toggle:checked + label + .info {
    display: block;
 }
 
 ul {
    list-style: none;
    padding: 0;
 }
 
 li {
    background-color: #eee;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
 } 

 h2{
    margin: 0;
    color: #000000;
    font-style: bold;
    background-color: #3A61C4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);  
    margin-bottom: 30px;
    padding: 5px;
 }

 /*LINEA DEL TIEMPO*/
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 body{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #3a61c488; 
    margin: 0;
    padding: 0;
  }
 
 .timeline {
   position: relative;
   width: 100%;
   max-width: 1140px;
   margin: 0 auto;
   padding: 15px 0;

    padding: 100px;
    margin-top: 80px;
}
 
 .timeline::after {
   content: '';
   position: absolute;
   width: 2px;
   background: #000000;
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -1px;
 }
 
 .container {
   padding: 15px 30px;
   position: relative;
   background: inherit;
   width: 50%;
 }
 
 .container.left {
   left: 0;
 }
 
 .container.right {
   left: 50%;
 }
 
 .container::after {
   content: '';
   position: absolute;
   width: 16px;
   height: 16px;
   top: calc(50% - 8px);
   right: -8px;
   background: #ffffff;
   border: 2px solid #000000;
   border-radius: 16px;
   z-index: 1;
 }
 
 .container.right::after {
   left: -8px;
 }
 
 .container::before {
   content: '';
   position: absolute;
   width: 50px;
   height: 2px;
   top: calc(50% - 1px);
   right: 8px;
   background: #000000;
   z-index: 1;
 }
 
 .container.right::before {
   left: 8px;
 }
 
 .container .date {
   position: absolute;
   display: inline-block;
   top: calc(50% - 8px);
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   color: #000000;
   text-transform: uppercase;
   letter-spacing: 1px;
   z-index: 1;
 }
 
 .container.left .date {
   right: -75px;
 }
 
 .container.right .date {
   left: -75px;
 }
 
 .container .icon {
   position: absolute;
   display: inline-block;
   width: 40px;
   height: 40px;
   padding: 9px 0;
   top: calc(50% - 20px);
   background: #556df6;
   border: 2px solid #000000;
   border-radius: 40px;
   text-align: center;
   font-size: 18px;
   color: #000000;
   z-index: 1;
 }
 
 .container.left .icon {
   right: 56px;
 }
 
 .container.right .icon {
   left: 56px;
 }
 
 .container .content {
   padding: 30px 90px 30px 30px;
   background: #68686881;
   position: relative;
   border-radius: 0 500px 500px 0;
 }
 
 .container.right .content {
   padding: 30px 30px 30px 90px;
   border-radius: 500px 0 0 500px;
 }
 
 .container .content h2 {
   margin: 0 0 10px 0;
   font-size: 18px;
   font-weight: normal;
   color: #000000;
 }
 
 .container .content p {
   margin: 0;
   font-size: 16px;
   line-height: 22px;
   color: #000000;
 }
 
 @media (max-width: 767.98px) {
   .timeline::after {
     left: 90px;
   }
 
   .container {
     width: 100%;
     padding-left: 120px;
     padding-right: 30px;
   }
 
   .container.right {
     left: 0%;
   }
 
   .container.left::after, 
   .container.right::after {
     left: 82px;
   }
 
   .container.left::before,
   .container.right::before {
     left: 100px;
     border-color: transparent #006E51 transparent transparent;
   }
 
   .container.left .date,
   .container.right .date {
     right: auto;
     left: 15px;
   }
 
   .container.left .icon,
   .container.right .icon {
     right: auto;
     left: 146px;
   }
 
   .container.left .content,
   .container.right .content {
     padding: 30px 30px 30px 90px;
     border-radius: 500px 0 0 500px;
   }
 }



 .fondo{
  background-color: #3060d89c;
 }

 u{
  font-size: 20px;
 }

 .color{
  color: red;
 }

 .ondulado{
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(8, 194, 8);
 }

 .junto{
  font-style: italic;
  text-decoration: underline wavy rgba(255, 0, 0, 0.747); 
  text-decoration-thickness: 2px; color: rgb(255, 255, 255); 
  background-color: rgb(151, 151, 151); 
  text-shadow: 1px 1px 3px gray;
 }


 footer {
  background-color: #333;
  color: white;
  text-align:center ;
  padding: 20px 0;
  position: relative;
  margin-top: 20px;
}

.app-name {
  font-size: 24px;
  margin-bottom: 10px;
}
.social-buttons {
  margin: 10px 0;
}
.social-buttons a {
  display: inline-block;
  margin: 0 15px;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px; 
}
.twitter {
  background-color: #1DA1F2; 
}
.instagram {
  background-color: #C13584; 
}
.whatsapp {
  background-color: #25D366;
}
.telegram {
  background-color: #0088CC; 
}

.social-buttons a:hover {
  opacity: 0.8; /* Esto queda guay  lo pongo en mas botones*/
  transform: scale(1.1); 
  transition: transform 0.4s;
}